extends ../layout

block content

    h1= item.name
    .item
        .item-image
            img(src=item.image)
        .item-info
            h2= item.name
            p= item.description
            p= item.price
            p= item.created_at
            p= item.stock
            p= item.seller.name
            p= item.category.name
            a(href=item.url + "/edit") Edit
            a(href=item.url + "/delete") Delete
